@import "bootstrap";

/* variables */
$lightGray: #999;
$mediumLightGrey: #eaeaea;


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* CSS header */

body {
}

.container {
  width: 978px;
}

.first {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.last {
  padding-right: 0 !important;
}

.top-area {
  font-family: Arial;
  font-size: 12px;
}

.top-area .section {
  padding-top: 20px;
}

.top-area-link {
  width: 251px;
}

.top-area-link div {
  display: inline-block;
}

.top-area-link *{
  color: #8d8d8d;
}

.lang a {
  padding-right: 10px;
  padding-left: 10px;
}

.sign {
  padding-left: 12px;
}

.sign a{
  padding-left: 15px;
  padding-right: 15px;
}

.search {
  display: inline-block;
  width: auto;
  height: 30px;
  margin-top : 0;
  color: #adadad;
}

.search img{
  display: inline-block;
}

.search input {
  width: 221px;
  font-size: 12px;
}

.search *{
  background-color: #f1f1f1;
}

.navbar {
	margin: 0;
}

.navbar-default {
  background-color: #545e6c;
}

.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  color: #ffffff;
  padding-right: 120px;
}

.navbar-default .navbar-nav > li > a > span {
  padding-bottom: 13px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a > span:hover {
  color: #2dceb0;
  border-bottom: 4px solid #2dceb0;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $mediumLightGrey;
  color: $lightGray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



/* sidebar User Profile*/

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $mediumLightGrey;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* User's Avatar picture */

.gravatar {
  float: left;
  margin-right: 10px;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
/*  @extend .control-group;
  @extend .error; */
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $mediumLightGrey;
    &:last-child {
      border-bottom: 1px solid $mediumLightGrey;
    }
  }
}

/* Home */

.home {
	background-color: #e5e5e5;
	padding-top: 5px;
}

.text {
	font-size: 12px;
	text-align: left;
}

.row {
	margin: 0;
}

.home .mp-row{
	padding-top: 45px;
	display: inline-block;
	width: 978px;
}

.mp {
	font-size: 20px;
}

.home .mp-row .col-md-3 {
	margin-left: 10px;
	padding-right: 0px;
	padding-left: 0;
	height: 310px;
	width: 237px;
}

.home .col-md-6 .mp-row {
	padding-right: 1px;
	background-color: #f7f7f7;
	height: 29px;
}

.mp-row .thumbnail {
	padding: 0;
	height:310px;
	border: none;
}

.thumbnail .caption{
	width: 237px;
	height:104px;
	padding: 20px 15px 0px 15px;
}

.mp-row .thumbnail .icon-row {
	width: 237px;
}

.icon-row .like{
	margin-right: 1px;
}

.thumbnail .caption .title{
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	text-align: left;
}

.only-text {
	background-color: #91ae4a;
}

.only-text .caption{
	height: 281px;
}

.mp-row .col-md-6 {
	height: 29px;
}

.only-text .col-md-6 {
	background-color: rgba(255, 255, 255, 0.13);
}

.only-text .caption .title {
	font-size: 34px;
	font-family: Times Sans Sherif;
	padding-bottom: 20px;
	text-align: left;
}

.home .mp-row .col-md-6  img{
	display: inline-block;
	padding-top: 10px;
	margin-left: -25px;
}

.home .mp-row .col-md-6 span {
	padding-top: 7px;
	padding-left: 5px;
	position: absolute;
}

.only-text span {
	color: #ffffff;
}

.dv-row .icon-row {
	height: 29px;
	width: 50%;
}

.home .dv-row {
	padding-top: 45px;
	display: inline-block;
	width: 978px;
}

.home .dv-row .col-md-6 {
	height: 177px;
	width: 484px;
	padding-left: 0px;
	margin-bottom: 10px;
	padding-right: 0px;
}

.home .dv-row .last {
	margin-left: 10px;
}

.home .dv-row .col-md-6  .preview {
	float: left;
	display: inline-block;
	height: 175px;
	width: 50%;
}

.home .dv-row .col-md-6 .thumbnail {
	padding: 0;
	height: 177px;
}

.home .dv-row .col-md-6 .caption {
	padding: 22px 15px 22px 15px;
	height: 146px;
	width: 50%;
}

.icon {
	height: 29px;
	background-color: #f7f7f7;
	width: 118px;
}

.home .dv-row  .icon{
	height: 29px;
	width: 120px;
}

.home .dv-row .icon  img{
	display: inline-block;
	padding-top: 10px;
	margin-left: -35px;
}

.home .dv-row .icon span {
	padding-top: 7px;
	padding-left: 5px;
	position: absolute;
}

.home .dv-row .col-md-6 .caption .author{
	font-size: 11px;
	color: #848484;
	text-align: left;
}

.arrow {
	padding-left: 5px;
}

.ad {
	height: 90px;
	width: 978px;
	margin-top: 50px;
}